/* removes trending today*/ 
div#TrendingPostsContainer {
    display: none !important;
}

/*removes drop down from search*/
div#SearchDropdownContent {
    display: none !important;
}

shreddit-gallery-carousel {
    display: none !important;
}

ul#reddit-trending-searches-partial-container {
    display: none !important;
}